body {
    margin: 0;
    padding: 0;
    font-family: 'Anek Gujarati', sans-serif;
}
:root {
    --colorOne: rgb(114, 114, 114);
    --colorTwo: rgb(219, 219, 219);
    --colorThree: rgb(79, 72, 85);
    --colorFour: rgb(54, 54, 54);
}
/* --HEADER-- */
header {
    height: 50px;
    background-color: var(--colorOne);
}
header ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}
header ul li {
    list-style: none;
    margin: 1%;
}
header ul li a {
    color: var(--colorTwo);
    text-decoration: none;
}
header ul li a:hover {
    opacity: 0.7;
}
header ul li i {
    border: 1px solid;
    border-radius: 75px;
    padding: 2px;
    scale: 0.7;
}
header ul li a i {
    height: 15px;
    width: 15px;
}
header ul li a:hover>i{
    color: rgb(113, 211, 113);
}
/* --endHEADER-- */

/* --MAIN-- */
#main {
    background-color: var(--colorOne);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main p, #main h1, #main a{
    color: var(--colorFour);
}
#main a {
    text-decoration: none;
}
#main a:hover, #main a:focus {
    opacity: 0.8;
}
#content>div {
    background-color: var(--colorThree);
}
#content:first-child {
    border-radius: 15px 15px 0 0;
}
/* SessionInfo */
#sessionInfo {
    background-color: var(--colorTwo);
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 30%;
}
#listModuleSession form label{
    color: var(--colorThree);
}
/* ListStagiaireSession */
#listStagiaireSession{
    border-top: 1px solid var(--colorThree);
}
#listStagiaireSession a>.fa-trash, #listModuleSession a>.fa-trash{
    margin: 0 3px;
    height: 15px;
    width: 15px;
}
#listStagiaireSession a:hover>.fa-trash, #listModuleSession a:hover>.fa-trash {
    color: rgb(155, 34, 34);
}
#listStagiaireSession a>.fa-plus, #listModuleSession a>.fa-plus {
    margin: 0 3px;
    padding: 2px;
    border-radius: 90px;
    border: 1px solid;
    scale: 0.7;
    height: 15px;
    width: 15px;
}
#listStagiaireSession a:hover>.fa-plus, #listModuleSession a:hover>.fa-plus{
    color: rgb(53, 157, 53);
}
/* endListStagiaireSession */
/* endSessionInfo */

/* FormationList */
#formationList {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#formationList>div {
    margin: 3%;
    height: 70px;
    min-width: 100px;
}
#formationList>div>div {
    background-color: var(--colorThree);
    padding: 0 5%;
}
#formationList>div>div a {
    color: var(--colorTwo);
}
#formationList>div:hover div {
    box-shadow: rgba(255, 254, 254, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    transition: 0.1s;
}
#formationList>div:hover div:first-child {
    background-color: white;
}
#formationList>div>div:first-child{
    height: 10px;
    width: 10px;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 2;
}
#formationList>div>div:nth-child(2){
    border-radius: 0 5px 5px 5px;
    padding: 8%;
    min-height: -webkit-fill-available;
}
/* endFormationList */

/* SessionList */
#sessionList {
    background-color: var(--colorThree);
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}
#sessionList>div>div>p, #sessionList>div>div>div {
    margin: 0.7rem 0;
}
#sessionList>div {
    width: 30%;
}
#sessionList>div>div {
    background-color: var(--colorTwo);
    padding: 8px;
}
#sessionList>div>div:first-child {
    width: fit-content;
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--colorFour);
    border-bottom: none;
    z-index: 2;
    position: relative;
    margin-bottom: -1px;
}
#sessionList>div>div:last-child {
    display: flex;
    flex-direction: column;
    border-radius: 0 3px 3px 3px;
    position: relative;
    border: 1px solid var(--colorFour);
}
#sessionList>div>div:last-child>p:last-child, #sessionList>div>div:last-child>a:first-child {
    text-align: end;
}
#sessionList>div>div:last-child>div:first-child {
    position: absolute;
    right: 2%;
    margin: 0;
}
#sessionList>div>div:last-child>div:first-child p {
    margin: 2px 0;
}
/* endSessionList */

/* ListSessionFormation */
#listSessionFormation>div:nth-child(2) {
    display: flex;
    justify-content: center;
}
#listSessionFormation>p {
    margin: 2%;
}
#listSessionFormation>div>div {
    background-color: var(--colorFour);
    width: 30%;
    padding: 1%;
    margin: 1%;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#listSessionFormation>div>div>p:last-child {
    text-align: end;
    font-size: 0.8rem;
}
/* EndListSessionFormation */

/* FormateurInfo */
#formateurInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#formateurInfo a, #formateurInfo p {
    color: var(--colorTwo);
}
#formateurInfo>div {
    background-color: var(--colorThree);
}
#formateurInfo>div:first-child {
    border-radius: 15px 15px 0 0;
    width: fit-content;
    padding: 0.5% 2%;
    text-align: center;
}
#formateurInfo>div:nth-child(2){
    width: 100%;
    padding: 2%;
}
/* endFormateurInfo */

/* StagiaireInfo */
#stagiaireInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#stagiaireInfo a, #stagiaireInfo p {
    color: var(--colorTwo);
}
#stagiaireInfo>div {
    background-color: var(--colorThree);
}
#stagiaireInfo>div:first-child {
    border-radius: 15px 15px 0 0;
    width: fit-content;
    padding: 0.5% 2%;
    text-align: center;
}
#stagiaireInfo>div:nth-child(n+2){
    width: 100%;
    padding: 2%;
}
/* endStagiaireInfo */

/* FormationInfo */
#formationInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#formationInfo a, #formationInfo p {
    color: var(--colorTwo);
}
#formationInfo>div {
    background-color: var(--colorThree);
}
#formationInfo>div:first-child {
    border-radius: 15px 15px 0 0;
    width: fit-content;
    padding: 0.5% 2%;
    text-align: center;
}
/* endFormationInfo */

#addPage {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorThree);
}
/* FORM */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
}
form>div {
    margin: 1% 0;
}
form label {
    color: var(--colorTwo);
    padding-left: 1%;
}
form>div:not(:nth-last-child(2)) {
    display: flex;
    justify-content: space-between;
}
form>div:nth-last-child(2) {
    display: flex;
    justify-content: end;
}
form>div:not(:last-child)>input {
    width: 30%;
}
form>div select {
    width: 31%;
}
input,select,button {
    border: solid 1px var(--colorThree);
    background-color: var(--colorTwo);
    border-radius: 5px;
    margin-right: 1%;
}
input[type="submit"],button[type="submit"] {
    background-color: var(--colorFour);
    color: var(--colorTwo);
    padding: 5px;
}

/* AddCategorie */
#addCategorie, #addCategorieForm {
    height: 60px;
}
#addCategorieForm {
    position: absolute;
    bottom: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#addCategorieForm>div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
#addCategorieForm>div:nth-last-child(2) {
    width: fit-content;
    padding-right: 1%;
}
/* endAddCategorie */
#session_dateDebut, #session_dateFin {
    width: 49%;
}
/* AddSession */


/* endAddSession */
/* endFORM */
/* --endMAIN-- */

/* --FOOTER-- */
footer {
    height: 50px;
}
/* --endFOOTER-- */