{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
    <div id="stagiaireList">
        {% for stagiaire in stagiaires %}
            <div>
                <div></div>
                <div>
                    <a href="{{ path('info_stagiaire', {'id': stagiaire.id}) }}">stagiaire {{ stagiaire }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
