{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <div id="sessionList">
        {% for session in sessions %}
            <div>
                <div></div>
                <div>
                    <a href="{{ path('info_session', {'id': session.id}) }}">session {{ session }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
