{% extends 'base.html.twig' %}

{% block title %}Liste des Modules{% endblock %}

{% block body %}
    {% for module in modules %}
        <a href="{{ path('info_module', {'id': module.id}) }}">{{ module.name }}</a>
    {% endfor %}
{% endblock %}
