{% extends 'base.html.twig' %}

{% block title %}Info module{% endblock %}

{% block body %}
    <div id="moduleInfo">
            <div>
                <a href="{{ path('info_module', {'id': module.id}) }}">{{ module.name }}</a>
                <a href="{{ path('edit_module', {'id': module.id}) }}"><i class="fas fa-edit"></i></a>
            </div>
            <div>
                <div>
                </div>
                <p>Catégorie: {{ module.categorie.name }}</p>   
            </div>
    </div>

{% endblock %}
