{% extends 'base.html.twig' %}

{% block title %}Liste des Formateurs{% endblock %}

{% block body %}
    <div id="formateurList">
        {% for formateur in formateurs %}
            <div>
                <div></div>
                <div>
                    <a href="{{ path('info_formateur', {'id': formateur.id})  }}">Formateur {{ formateur }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
